{include file='public/header'}
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-header">修改公告</div>
    <div class="layui-card-body">
        <form style="margin-top: 0px;" class="layui-form">
            <div class="layui-form-item" hidden>
                <input name="id" value="{$data.id}" class="layui-input" lay-verType="tips" lay-verify="required" required disabled/>
            </div>
            <div class="layui-form-item">
                <label>公告标题：</label>
                <input name="title" value="{$data.title}" placeholder="请输入IP地址" class="layui-input" lay-verType="tips" lay-verify="required" required />
            </div>
            <div class="layui-form-item">
                <label>公告内容：</label>
                <textarea name="content" placeholder="请输入公告内容" class="layui-textarea" lay-verType="tips">{:htmlspecialchars_decode($data.content)}</textarea>
            </div>
            <div class="layui-form-item layui-inline">
                <button class="pear-btn pear-btn-primary" lay-submit lay-filter="Nathan">
                    <i class="layui-icon layui-icon-ok"></i> 提交
                </button>
                <button type="reset" class="pear-btn">
                    <i class="layui-icon layui-icon-refresh"></i> 重置
                </button>
            </div>
        </form>
    </div>
</div>
</body>
<!-- js部分 -->
{include file='public/script'}
<script>
    layui.use(['jquery','layer', 'form'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;

        form.on('submit(Nathan)', function(data) {
            var loadIndex = layer.msg('请求中...', {icon: 16, shade: 0.01, time: false});
            $.ajax({
                url: '{:url(\'Ajax/notice_edit\')}',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'post',
                success: function(result) {
                    layer.close(loadIndex);
                    if (result.code === 1) {
                        layer.msg(result.msg, {icon: 6, time: 1500});
                    } else {
                        layer.msg(result.msg, {icon: 5, anim: 6});
                    }
                }
            })
            return false;
        });
    });
</script>
</body>
</html>