{include file='public/header'}
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-header">问题反馈</div>
    <div class="layui-card-body">
        <form style="margin-top: 0px;" class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-required">网站名称：</label>
                <input name="webname" value="{$web.webname}" placeholder="请输入网站名称" class="layui-input" lay-verType="tips" lay-verify="required" required disabled/>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-required">网站域名：</label>
                <input name="url" value="{$domain}" placeholder="请输入网站域名" class="layui-input" lay-verType="tips" lay-verify="required" required disabled/>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-required">联系QQ：</label>
                <input name="qq" value="{$data.qq}" placeholder="请输入联系QQ" class="layui-input" lay-verType="tips" lay-verify="required" required disabled/>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-required">问题标题：</label>
                <input name="title" placeholder="请输入问题标题" class="layui-input" lay-verType="tips" lay-verify="required" required/>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-required">问题内容：</label>
                <textarea name="content" class="layui-textarea" placeholder="请输入问题内容" lay-verType="tips" lay-verify="required" required></textarea>
            </div>
            <div class="layui-form-item layui-inline">
                <button class="pear-btn pear-btn-primary" lay-submit lay-filter="system_feedback">
                    <i class="layui-icon layui-icon-ok"></i> 提交
                </button>
                <button type="reset" class="pear-btn">
                    <i class="layui-icon layui-icon-refresh"></i> 重置
                </button>
            </div>
        </form>
    </div>
</div>
</body>
<!-- js部分 -->
{include file='public/script'}
<script>
    layui.use(['jquery','layer', 'form'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;

        form.on('submit(system_feedback)', function(data) {
            var loadIndex = layer.msg('请求中...', {icon: 16, shade: 0.01, time: false});
            $.ajax({
                url: '{:url(\'Ajax/system_feedback\')}',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'post',
                success: function(result) {
                    layer.close(loadIndex);
                    if (result.code === 1) {
                        layer.msg(result.msg, {icon: 6, time: 1500});
                    } else {
                        layer.msg(result.msg, {icon: 5, anim: 6});
                    }
                }
            })
            return false;
        });
    });
</script>
</body>
</html>