{include file='public/header'}
<style>
    .layui-card-body{
        text-align: center;height: 100px;
    }
</style>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-header">调试模式工具
        <span class="pear-btn pear-btn-primary pear-btn-xs" style="margin-top: 10px;float: right;">
            {$debug?'开启中':'关闭中'}
        </span>
    </div>
    <div class="layui-card-body">
        <h1 class="layui-text">
            开启调试模式后出现报错可看到详细信息<br>（非必要情况下切勿开启）</h1>
        <button onclick="debug('{$debug?\'0\':\'1\'}')" class="pear-btn pear-btn-primary">{$debug?'关闭调试模式':'开启调试模式'}</button>
    </div>
</div>
</body>
{include file='public/script'}
<script>
    function debug(state) {
        layui.use(['layer'], function () {
            var $ = layui.jquery;
            var layer = layui.layer;
            layer.msg('正在处理中，请稍后...');
            $.ajax({
                type:'POST',
                url:'{:url(\'Ajax/system_debug\')}',
                data:{
                    state:state
                },
                dataType:'json',
                success:function (data){
                    if(data.code == 1){
                        layer.msg(data.msg, {icon: 6, time: 1500});
                        parent.location.reload();
                    }else{
                        layer.msg(data.msg, {icon: 5, anim: 6});
                    }
                }
            });
        });
    }
</script>
</html>
