{include file='index/public/header' title='重置密码'}
<footer class="footer">
    <a href="{:url('index')}">
        <img src="/static/picture/tab_00.png" alt="写信">
        <p>写信</p>
    </a>
    <a href="{:url('public_sms')}">
        <img src="/static/picture/tab_01.png" alt="公开信">
        <p>公开信</p>
    </a>
    <a href="{:url('notice')}">
        <img src="/static/picture/tab_02.png" alt="公告">
        <p>公告</p>
    </a>
    <a href="{:url('user')}" class="show">
        <img src="/static/picture/tab_03_show.png" alt="我的">
        <p>我的</p>
    </a>
</footer>
<header class="header-tool">
    <a href="javascript:history.go(-1)">
        <i class="icon icon-chevron-left"></i>
    </a>重置密码
</header>
<section class="section">
    <form class="password-form">
        <h4 class="password-form-title">重置密码</h4>
        <p class="password-form-sub">请输入旧密码并创建新密码。</p>
        <input class="password-form-input" type="password" name="old_password" placeholder="旧密码">
        <input class="password-form-input" type="password" name="password"  placeholder="新密码">
        <input class="password-form-input" type="password" name="password_two" placeholder="确认新密码">
        <button class="password-form-btn" type="button"><i class="icon icon-lock"></i>更改密码</button>
    </form>
</section>
<!-- End section -->
<!-- script -->
{include file='index/public/script'}
<script>
    $(".password-form-btn").click(function(){
        var old_password = $("input[name='old_password']").val();
        var password = $("input[name='password']").val();
        var password_two = $("input[name='password_two']").val();
        if(old_password.length < 1 || password.length < 1 || password_two.length < 1){
            layer.msg('请确保必填项不为空');
            return false;
        }
        var load = layer.load('2', { shade: 0.2 });
        $.ajax({
            type:'POST',
            url:'{:url(\'Ajax/update_password\')}',
            data:{
                old_password:old_password,
                password:password,
                password_two:password_two,
            },
            dataType:'json',
            success:function (data){
                layer.close(load)
                if(data.code == 1){
                    layer.msg(data.msg, {icon: 'smile', time: 1500}, function () {
                        location.href = '{:url(\'index/login\')}'
                    });
                }else{
                    layer.msg(data.msg, {icon: 'cry', time: 1500});
                }
            },
            error:function(){
                layer.close(load);
                layer.msg('服务器错误，请稍后再试~');
                return false;
            }
        });
        return false;
    })
</script>
</body>
</html>